@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#253237] text-[#e0fbfc];
}

/* hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
} */

/* Change the scrollbar to cyan color */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #253237;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8d8d8;
}
